body {
    margin: 0;
    background-color: #EDEFED;
    color: #565A5C;
    font-family: Helvetica;
}
header {
    background-image: url("https://dl.dropboxusercontent.com/u/297682547/Hairbnb/header/nyc.jpg");
    text-align: center;
    height: 350px;
    background-size: cover;
    color: white;
}
#logo {
    float: left;
    height: 40px;
    padding:10px;
}

header ul {
  float: right;
  margin-top: 10px;
  padding-right: 20px;
}

header ul li{
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
}

#host {
  border: 2px solid white;
  border-radius: 6px;
}

header h1 {
  font-size: 60px;
  margin: 0;
  padding-top:  200px;
}

header h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.inspiration {
  margin: 50px 0;
  text-align: center;
}

.inspiration h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.locations img {
  padding: 20px 10px;
}

.button {
  background-colour: white;
  border: 1px solid #565A5C;
  width: 150px;
  padding:10px 60px;
  margin: 40px auto;
}
